@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #FEFAE0; /* */
  color: #283618;
}

body {
  margin: 0;
  padding: 0;
  display: block; /* Buang flex center bawaan Vite */
}

/* HIDE SCROLLBAR */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}